#top-bar {
	background-color: #e6e6e6;
	width: 100%;
	overflow: visible;
}
#top-nav {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}
#top-nav #welcome {
	padding-right: 2px;
	z-index: 2147483639;
	text-align: right;
	position: absolute;
	right: 0;
}
#welcome #cart .heading {
	/*float: right;
    margin-right: 5px;
	padding-left: 14px;
	padding-right: 14px;
	border-top: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #EEEEEE;
	background: #FFF;*/
	position: relative;
	z-index: 1;
	padding-bottom: 7px;
}
#welcome #cart .content {
	clear: both;
	position: absolute;
	z-index: 999;
	top: 22px;
	right: 0;
	padding: 8px;
	min-height: 150px;
	border-top: 1px solid #EEEEEE;
	border-left: 1px solid #EEEEEE;
	border-right: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
	-webkit-border-radius: 0px 7px 7px 7px;
	-moz-border-radius: 0px 7px 7px 7px;
	-khtml-border-radius: 0px 7px 7px 7px;
	border-radius: 0px 7px 7px 7px;
	-webkit-box-shadow: 0px 2px 2px #DDDDDD;
	-moz-box-shadow: 0px 2px 2px #DDDDDD;
	box-shadow: 0px 2px 2px #DDDDDD;
	background: #FFF;
}
